<div class="container">

    <div class="card" *ngIf="modalIsShow==true">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="qty">Quantity</label>
                    <input type="number" min="0" class="form-control" id="qty" [(ngModel)]="edit_quantity" >
                </div>
            </div>
        </div>
        <div class='row'>
            <ul class="actions">
                <li>
                    <button class="btn btn-warning" (click)="updateInventory()">Update</button>
                </li>
                <li>
                    <button class="btn btn-danger" (click)="toggleForm()">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>

                    </th>
                    <th>
                        PRODUCT NAME
                    </th>
                    <th>
                        CATEGORY
                    </th>
                    <th>
                        SIZE
                    </th>
                    <th>
                        COLOR
                    </th>
                    <th>
                        PRICE
                    </th>
                    <th>
                        QTY
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let data of inventory_list">
                    <td>
                        <ul class="actions">
                            <li>
                                <button class="btn btn-success" (click)="toggleTxt(data)">Edit</button>
                            </li>
                        </ul>
                    </td>
                    <td style="width:60px;">
                        <img [src]="data.img" style="width:60px;height:65px;">
                    </td>
                    <td>
                        {{ data.product_name }}
                    </td>
                    <td>
                        {{ data.category_name }}
                    </td>
                    <td>
                        {{ data.size_name }}
                    </td>
                    <td>
                        {{ data.color_name }}
                    </td>
                    <td>
                        {{ data.price }}
                    </td>
                    <td>
                        <span class="badge_inventory">{{ data.quantity }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>