<div class="container">
    <div class="card">
        <div class="row">
            <div class="first_row">
                <div class="first_row__category-menu">
                    <app-card-category-menu [options]="category_list"></app-card-category-menu>
                </div>
                <div class="first_row__carousel">
                    <app-card-carousel></app-card-carousel>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="row">
            <div class="product_container">
                <div class="product_list">
                    <div class="product_list__header">
                        <h6 class="product_list__title">Products you might like</h6>
                    </div>
                    <div class="product_list__overflow">
                        <app-card-basic [data]="inventory_list"></app-card-basic>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
