<div class="container">
    <div class="toolbar" *ngIf="modalIsShow==false">
        <button (click)="toggleAdd()" class="btn btn-primary"><i class="bi bi-plus-lg"></i> ADD NEW</button>
    </div>

    <div class="toolbar" *ngIf="modalIsShow==true">
        <button (click)="toggleAdd()" class="btn btn-danger m-r-10"> CANCEL</button>
        <button  class="btn btn-primary" (click)="saveCategory()">SAVE</button>
    </div>
</div>

<div class="container">

    <div class="card" *ngIf="modalIsShow==true">
        <div class="row">
            <div class="col">
                <img [src] = "category_img" style="width:250px;height: 250px;float:right">
                <input type="file" id="category_img" (change)="handleUpload($event)">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="product_name">Category Name</label>
                    <input type="text" class="form-control" id="product_name" [(ngModel)]="category_name" >
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;">ACTION(S)</th>
                    <th style="width: 90px;"></th>
                    <th>CATEGORY NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="category_list.length==0">
                    <td colspan="3" align="center"> No record(s) found</td>
                </tr>
                <tr *ngFor="let category of category_list">
                    <td>
                        {{ category.id }}
                    </td>
                    <td>
                        <img src= "{{category.img}}" style="width: 90px;height: 100px;"/>
                    </td>
                    <td>
                        {{ category.category_name }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
