.summary {
  margin: 5px;
  padding: 5px;
  width: 50%;

  &__details {
    display: block;
    width: 100%;
    float: right;
    padding: 5px;

    &__box {
      float: right;
      border: 1px solid #999;
      width: 350px;
      height: auto;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__actions {
    display: block;
    width: 100%;
    padding: 5px;

    ul {
      float: right;

      li {
        padding: 5px;
        display: inline-block;
      }
    }
  }
}

.pull-right {
  float: right;
}
.design-bike-container {
  overflow: auto;
}
.design-bike {
  display: block;
  position: relative;
  height: 350px;

  &__wheels {
    position: absolute;
    bottom: 0px;
    z-index: 1;

    img {
      width: 250px;
      height: 250px;
    }
  }

  &__wheels-right {
    position: absolute;
    bottom: 0px;
    left: 360px;
    z-index: 1;

    img {
      width: 250px;
      height: 250px;
    }
  }

  &__frame {
    position: absolute;
    bottom: 90px;
    left: 90px;
    z-index: 3;

    img {
      width: 370px;
      height: 190px;
    }
  }

  &__seat {
    position: absolute;
    bottom: 230px;
    left: 150px;
    img {
      width: 100px;
      height: 90px;
    }
  }

  &__sprocket {
    position: absolute;
    bottom: 80px;
    left: 230px;
    z-index: 4;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &__fork {
    position: absolute;
    bottom: 95px;
    left: 375px;
    z-index: 2;

    img {
      transform: rotate(-27deg);
      width: 110px;
      height: 230px;
    }
  }
}
