<mat-toolbar style="background-color: {{color_theme}}">
    <span style="color: {{color_font_theme}}">{{ title }} </span>
    <span class="example-spacer"></span>

</mat-toolbar>
<mat-toolbar class="second_toolbar">
    <div class="second_toolbar__nav">
        <ul>
            <li>
                <a>Login</a>
            </li>
            <li>
                <a>Sign-up</a>
            </li>
        </ul>
    </div>

</mat-toolbar>
<div class="custom-container">
    <router-outlet></router-outlet>
</div>
