
<mat-toolbar class="second_toolbar">
    <div class="second_toolbar__nav">
        <ul *ngIf="user_logged_in==''">
            <li>
                <a [routerLink]="['user-login']">Login</a>
            </li>
            <li>
                <a>Sign-up</a>
            </li>
        </ul>
        <ul *ngIf="user_logged_in!=''">
            <li>
                Hello {{ user_logged_in.displayname }}!
            </li>
            <li>
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>

</mat-toolbar>

<mat-toolbar style="background-color: {{color_theme}}">
    <span style="color: {{color_font_theme}}">{{ title }} </span>
    <span class="example-spacer"></span>
</mat-toolbar>

<div class="custom-container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <app-cart style="width: 100%;right:0px"></app-cart>
</div>
