.badge {
  padding: 10px;
  text-transform: uppercase;
}

.badge-red {
  background-color: Red;
}

.badge-green {
  background-color: green;
}

.actions {
  li {
    padding: 5px;
    display: inline-block;
  }
}
