.float-button {
  position: absolute;
  right: 0px;
  transition: all 0.2s ease-in 0s; //this is the key attribute
  z-index: 9999;
  cursor: pointer;
}
.float-button:hover {
  right: -7px; //hide it by pushing it off the screen
}
