/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Calibri", sans-serif;
  background-color: #eff0f5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 10px;
}

.card {
  margin: auto;
  padding: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  box-shadow: 6px 10px 39px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 10px 39px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 10px 39px -14px rgba(0, 0, 0, 0.75);
}

.toolbar {
  margin: auto;
  padding: 10px;
  display: flex;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.actions {
  li {
    padding: 5px;
    display: inline-block;
  }
}

.badge {
  padding: 10px;
  text-transform: uppercase;
}

.badge-red {
  background-color: Red;
}

.badge-green {
  background-color: green;
}
