
<div class="card-specific">
    <div class="card-specific__container">
            <div class="card-specific__container__image-holder" style="float:left;margin:20px">
                <img [src]='itemInfo.img' alt="" />
            </div>
    
            <div class="card-specific__container__details" style="float:left;margin:20px">
                <div class="title">
                    {{ itemInfo.product_name }}
                </div>
                <div class="description">
                    {{ itemInfo.product_desc }}

                </div>
                <div class="price">
                    ₱ dsaf
                </div>
            </div>

    </div>
</div>
